* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.product {
    max-width: 1200px;
    min-width: 650px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px auto;
    background-color: #fff;
    padding: 20px;
}

.product img {
    width: 100%;
    max-width: 500px;
    border: 1px solid #000;
}

.product img:hover {
    transform: scale(1.5); 
}

.product-name-side {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0px 20px;
    margin-top: -200px;
    border: 1px solid red;
    color: #000;
}

.product-name-side p {
    margin: 10px 0px;
}

.product-image-side p {
    margin: 20px 0px;
    color: #000;
}

.product input[type="number"] {
    width: 100px;
    height: 25px;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
}

.product button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}